@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

li {
  list-style: none; }

/*清除高度塌陷*/
b:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

b {
  zoom: 1; }

.warp {
  background: #f7f7f7; }

.head_background {
  background-color: #1e89e0; }

.head {
  width: 1200px;
  height: 60px;
  margin: 0 auto; }
  .head img {
    float: left; }
  .head .head_ul {
    float: left; }
    .head .head_ul li {
      float: left;
      width: 134px;
      text-align: center; }
      .head .head_ul li a {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        font-family: '宋体';
        line-height: 60px;
        display: block; }
      .head .head_ul li:hover {
        background: #3366CC; }
  .head .head_ul_right {
    float: right;
    width: 500px;
    color: #d2e7f9;
    display: block; }
    .head .head_ul_right li {
      padding: 0 10px;
      width: 100px;
      color: inherit;
      position: relative;
      text-align: center;
      float: left; }
      .head .head_ul_right li:hover {
        color: #fff; }
      .head .head_ul_right li a {
        color: inherit;
        font-size: 14px;
        font-weight: 600;
        font-family: '宋体';
        line-height: 60px;
        display: block; }
    .head .head_ul_right .right {
      float: right; }
      .head .head_ul_right .right .phone {
        display: inline-block;
        font-size: 15px;
        width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
        float: left;
        margin-top: 19px; }
      .head .head_ul_right .right .down {
        margin-top: 19px;
        display: block; }

.color_blue {
  color: #0089dc; }

.content {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px; }
  .content .content_head {
    width: 1200px;
    float: left;
    overflow: hidden; }
    .content .content_head span {
      display: block;
      line-height: 54px;
      float: left;
      color: #999;
      margin-right: 5px;
      font-size: 12px; }
    .content .content_head .street a {
      color: #000; }
  .content .content_left {
    float: left;
    margin-top: 20px;
    width: 190px; }
    .content .content_left .option {
      margin-bottom: 32px; }
      .content .content_left .option h2 {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 18px; }
        .content .content_left .option h2 a {
          color: #000; }
      .content .content_left .option ul {
        padding-left: 30px; }
        .content .content_left .option ul li {
          padding: 4px 0; }
          .content .content_left .option ul li a {
            color: #666; }
  .content .content_right {
    float: right;
    border-color: orange;
    width: 1010px;
    min-height: 680px;
    background: #fff; }
    .content .content_right .box1 {
      margin-bottom: 20px;
      border: 1px solid #eee;
      background-color: #fff;
      padding: 30px 0;
      width: 100%; }
      .content .content_right .box1 .details {
        position: relative;
        padding: 20px 0;
        text-align: center;
        width: 195px;
        float: left;
        display: table-cell;
        border-right: 1px solid #eee; }
        .content .content_right .box1 .details:nth-of-type(1) {
          width: auto;
          text-align: left;
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 44px;
          padding-left: 30px; }
        .content .content_right .box1 .details .img {
          width: 112px;
          height: 112px;
          border-radius: 50%;
          overflow: hidden;
          float: left; }
          .content .content_right .box1 .details .img img {
            width: 112px;
            height: 112px;
            border: 0; }
        .content .content_right .box1 .details .details_box {
          float: left;
          margin-left: 20px; }
          .content .content_right .box1 .details .details_box h3 {
            font-size: 16px;
            max-width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .content .content_right .box1 .details .details_box .intro {
            margin: 6px 0 10px;
            color: #999;
            font-size: 12px; }
          .content .content_right .box1 .details .details_box .safety_intro {
            margin-bottom: 20px;
            font-size: 12px; }
            .content .content_right .box1 .details .details_box .safety_intro .grade {
              color: green; }
            .content .content_right .box1 .details .details_box .safety_intro .look {
              margin-left: 10px;
              color: #1e89e0; }
        .content .content_right .box1 .details .money {
          font-weight: 600;
          height: 60px;
          line-height: 60px;
          color: #fc463f; }
          .content .content_right .box1 .details .money span {
            font-size: 30px; }
    .content .content_right .box2 {
      padding: 20px 20px 0;
      margin-bottom: 20px;
      background-color: #fff; }
      .content .content_right .box2 .indent {
        border-bottom: 2px solid #f4f4f4;
        position: relative; }
        .content .content_right .box2 .indent .indent_a {
          font-weight: 700;
          border-bottom: 3px solid #0089dc;
          display: inline-block;
          margin-bottom: -2px;
          padding: 0 10px;
          height: 27px;
          cursor: pointer;
          font-size: 16px;
          color: #666; }
        .content .content_right .box2 .indent .font-size {
          font-size: 12px;
          color: #999; }
        .content .content_right .box2 .indent .indent_a_right {
          font-size: 12px;
          position: absolute;
          bottom: 10px;
          right: 0;
          color: #666; }
      .content .content_right .box2 .profile-panelcontent {
        display: inline-block;
        width: 100%; }
        .content .content_right .box2 .profile-panelcontent .changepwd {
          margin: 40px 0 0 15px; }
          .content .content_right .box2 .profile-panelcontent .changepwd .changepwd-tip {
            margin-bottom: 30px;
            color: #999; }
          .content .content_right .box2 .profile-panelcontent .changepwd .formfield {
            position: relative;
            padding-bottom: 25px; }
            .content .content_right .box2 .profile-panelcontent .changepwd .formfield .ng-binding {
              float: left;
              display: inline-block;
              width: 120px;
              height: 38px;
              margin-right: 20px;
              line-height: 38px;
              text-align: right;
              color: #666; }
            .content .content_right .box2 .profile-panelcontent .changepwd .formfield .pwd {
              vertical-align: baseline;
              border: 1px solid #dedede;
              width: 300px;
              height: 40px;
              line-height: 40px;
              padding-left: 10px;
              border-radius: 2px; }
            .content .content_right .box2 .profile-panelcontent .changepwd .formfield .btn {
              width: 300px;
              background-color: #0089dc;
              color: #fff;
              padding: 12px 30px;
              font-size: 16px;
              display: inline-block;
              line-height: 1;
              border: none;
              border-radius: 2px;
              outline: 0;
              cursor: pointer;
              text-align: center; }
        .content .content_right .box2 .profile-panelcontent .desktop-addresslist {
          padding-top: 15px;
          overflow: hidden; }
          .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock {
            position: relative;
            display: inline-block;
            width: 242px;
            height: 110px;
            padding: 16px 12px 16px 20px;
            margin-right: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd; }
            .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .desktop-addressblock-addblock {
              vertical-align: top;
              padding: 0;
              text-align: center;
              background: #fcfcfc;
              color: #999;
              cursor: pointer; }
            .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .desktop-addressblock-buttons {
              position: absolute;
              right: 12px;
              top: 14px; }
              .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .desktop-addressblock-buttons .desktop-addressblock-button {
                font-size: 12px;
                color: #bbb;
                border: 0;
                background: 0 0;
                cursor: pointer;
                width: 30px;
                line-height: normal; }
            .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .desktop-addressblock-name {
              height: 22px;
              cursor: default;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #333;
              margin-bottom: 20px;
              padding-right: 60px; }
            .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .desktop-addressblock-address {
              height: 22px;
              cursor: default;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #666; }
            .content .content_right .box2 .profile-panelcontent .desktop-addresslist .desktop-addressblock .sktop-addressblock-mobile {
              height: 22px;
              cursor: default;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #666; }
        .content .content_right .box2 .profile-panelcontent .profileinfo {
          margin-top: 39px;
          margin-left: 42px; }
          .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item {
            margin-bottom: 20px; }
            .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item .profileinfo-label {
              margin-right: 15px;
              width: 60px;
              text-align: right;
              vertical-align: middle;
              display: inline-block; }
            .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item .profileinfo-face {
              position: relative;
              display: inline-block;
              margin-bottom: 12px;
              vertical-align: top;
              width: 100px;
              height: 100px; }
              .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item .profileinfo-face img {
                width: 100%; }
            .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item .profileinfo-value {
              width: 218px;
              color: #666;
              vertical-align: middle;
              display: inline-block; }
            .content .content_right .box2 .profile-panelcontent .profileinfo .profileinfo-item .profileinfo-link {
              color: #0089dc; }
        .content .content_right .box2 .profile-panelcontent .points-summary {
          margin: 12px 0 24px;
          min-height: 50px;
          padding: 0 30px;
          background-color: #fafafa;
          border: 1px solid #f3f3f3;
          line-height: 80px; }
          .content .content_right .box2 .profile-panelcontent .points-summary span {
            display: inline-block;
            width: 300px;
            float: left; }
          .content .content_right .box2 .profile-panelcontent .points-summary .points-number {
            margin-right: 8px;
            font-weight: 700;
            color: #f74342;
            font-size: 24px;
            font-family: arial; }
        .content .content_right .box2 .profile-panelcontent .points-detailtitle {
          padding-left: 27px;
          font-size: 13px;
          font-weight: 400; }
        .content .content_right .box2 .profile-panelcontent .points-detail {
          margin-top: 20px;
          margin-bottom: 15px; }
          .content .content_right .box2 .profile-panelcontent .points-detail .points-table-row {
            background-color: #f7f7f7;
            height: 34px;
            font-size: 12px;
            border-bottom: 1px solid #eee;
            line-height: 34px; }
            .content .content_right .box2 .profile-panelcontent .points-detail .points-table-row span {
              display: block;
              float: left;
              font-size: 14px; }
            .content .content_right .box2 .profile-panelcontent .points-detail .points-table-row .points-table-createtime {
              padding-left: 27px;
              font-size: 12px;
              width: 235px; }
            .content .content_right .box2 .profile-panelcontent .points-detail .points-table-row .points-table-delta {
              width: 210px; }
          .content .content_right .box2 .profile-panelcontent .points-detail .white {
            background-color: #fff;
            height: auto;
            line-height: 20px;
            margin-top: 10px; }
            .content .content_right .box2 .profile-panelcontent .points-detail .white .white_box {
              padding-bottom: 10px; }
        .content .content_right .box2 .profile-panelcontent .nodata {
          padding-top: 50px;
          text-align: center; }
          .content .content_right .box2 .profile-panelcontent .nodata .nodata_logo {
            display: inline-block;
            padding-left: 110px;
            line-height: 115px;
            background: url(//faas.elemecdn.com/desktop/media/img/nodata.6477c5.png) no-repeat;
            color: #999; }
      .content .content_right .box2 .order-fetchtakeout {
        float: right;
        width: 186px;
        height: 42px;
        margin-top: -50px;
        margin-bottom: -13px;
        position: relative;
        cursor: pointer;
        z-index: 2; }
        .content .content_right .box2 .order-fetchtakeout img {
          width: 186px;
          height: 55px; }
      .content .content_right .box2 .orderblock {
        padding: 20px 0 15px;
        width: 100%;
        text-align: left;
        border-top: 1px solid #eee; }
        .content .content_right .box2 .orderblock .particulars {
          width: 600px;
          float: left;
          overflow: hidden; }
          .content .content_right .box2 .orderblock .particulars img {
            float: left; }
          .content .content_right .box2 .orderblock .particulars .particulars_box {
            margin-left: 20px;
            float: left; }
            .content .content_right .box2 .orderblock .particulars .particulars_box .one {
              font-size: 16px;
              font-weight: bold;
              color: #333;
              margin-bottom: 10px;
              display: block; }
            .content .content_right .box2 .orderblock .particulars .particulars_box .two {
              font-size: 12px;
              color: #999;
              margin-bottom: 5px; }
            .content .content_right .box2 .orderblock .particulars .particulars_box .three {
              font-size: 12px;
              color: #999; }
        .content .content_right .box2 .orderblock .day {
          float: left;
          width: 85px;
          color: #999;
          text-align: center;
          padding: 17px 0;
          font-size: 12px; }
        .content .content_right .box2 .orderblock .pay {
          float: left;
          width: 170px;
          color: #333;
          text-align: center;
          padding: 17px 0;
          font-size: 14px; }
          .content .content_right .box2 .orderblock .pay span {
            float: left;
            display: inline-block;
            width: 170px; }
          .content .content_right .box2 .orderblock .pay .font_size {
            font-size: 12px;
            color: #999; }
        .content .content_right .box2 .orderblock .complete {
          width: 100px;
          float: left;
          color: #999;
          text-align: center;
          padding: 17px 0;
          font-size: 16px; }
        .content .content_right .box2 .orderblock .order {
          font-size: 12px;
          color: #1e89e0; }

.foot {
  background-color: #f7f7f7;
  margin-top: 50px;
  border-top: 1px solid #eee; }
  .foot .footer {
    font-size: 14px;
    width: 960px;
    margin: 0 auto; }
    .foot .footer .footer_link {
      float: left;
      width: 15%;
      margin-top: 30px; }
      .foot .footer .footer_link h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 400; }
      .foot .footer .footer_link .footer-link-item {
        width: 50%;
        font-size: 12px;
        color: #999;
        display: block;
        line-height: 24px; }
    .foot .footer .footer_contect {
      padding-left: 3%;
      border-left: 1px #e6e6e6 solid;
      width: 23%;
      padding-right: 10px;
      float: left;
      margin-top: 30px; }
      .foot .footer .footer_contect .footer_contect_item {
        margin-bottom: 12px;
        color: #666;
        font-size: 14px;
        display: block;
        line-height: 24px; }
    .foot .footer .footer-mobile {
      width: 265px;
      float: right;
      margin-top: 30px; }
      .foot .footer .footer-mobile .footer-mobile-icon {
        width: 90px;
        height: 90px;
        margin-right: 20px;
        float: left; }
      .foot .footer .footer-mobile .footer-mobile-content {
        margin-top: 20px;
        margin-left: 90px; }
        .foot .footer .footer-mobile .footer-mobile-content h3 {
          font-size: 16px;
          color: #333;
          font-weight: 700;
          line-height: 30px; }
        .foot .footer .footer-mobile .footer-mobile-content p {
          font-size: 12px; }
    .foot .footer .footer-copyright {
      font-size: 12px;
      clear: both;
      padding-top: 60px;
      color: #999;
      text-align: center; }
      .foot .footer .footer-copyright .owner {
        color: #0e0e0e; }
    .foot .footer .footer-police {
      padding: .5em 0;
      text-align: center; }
